<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adapter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.adapter.service.AlarmService" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".One"
            android:label="@string/title_activity_one" >
        </activity>
        <activity
            android:name=".Two"
            android:label="@string/title_activity_two" >
        </activity>
        <activity
            android:name=".Three"
            android:label="@string/title_activity_three" >
        </activity>

        <provider
            android:name="com.adapter.provider.dataStorage"
            android:authorities="com.adapter.provider.dataStorage"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <service
            android:name="com.adapter.service.loaderServiceImpl"
            android:multiprocess="true" />
        <service
            android:name="com.adapter.service.alarmService"
            android:exported="true"
            android:multiprocess="true" >
            <intent-filter>
                <action android:name="com.adapter.service.common.IAlarmService" />
            </intent-filter>
        </service>
    </application>

</manifest>